@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
audio{
  margin-top: 40px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #161623;
  min-height: 100vh;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
}
.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
  transition: 0.5s;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .sci li a {
  color: #fff;
  font-size: 24px;
}

.heart {
  width: 50px;
  margin-bottom: 20px;
  animation: heartBeat 1s ease-in-out infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(0.9);
  }

  45% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}

.time {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.time h2,
.time p {
  margin: 0;
  margin-bottom: 4px;
}

.time h2 {
  font-size: 2.4rem;
}

.time p {
  font-size: 1.5rem;
}

.sup-time {
  font-weight: 300;
}
.video-container {
  width: 700px;
  height: 800px;
  border-radius: 20%;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(100px);
}

video {
  width: 90%;
  height: 50%;
  border-radius: 10%;
}
.mcontentBx {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 1.2em;
}
.mcontentBx h3 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: white;
}
.mcontentBx span {
  display: block;
  font-size: 0.8em;
  margin-top: 10px;
}

.background_brother{
  height: 600px;
  display: flex;
  flex-direction: column;
  display: flex; justify-content: center; align-items: center;
}
.background_brother .card{
  width: 600px;
  height: 500px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center; align-items: center;
  border-radius: 30px;
  flex-direction: column;
  background-image: url(vienhoa.png);
  background-size: cover;
}
.image_brother img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
}
.content_brother {
  text-align: center;
  color: wheat;
  margin-top: 20px;
}